<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div>

            <% for(i=0;i<fruitArray.length;i++){ %>
                <%= i + ". Sean doesn't want to eat the " + fruitArray[i]%>

            <% } %>


        </div>
    </body>
</html>
