<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        The weather in Atlanta is <%= weatherObject.main.temp %> degrees
    </body>
</html>
